** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;  /* Fundo preto */
    color: #fff;  /* Texto branco para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 400px;
    background-color: #333;  /* Cor de fundo escura para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

#quiz-container {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background-color: #4CAF50;  /* Cor verde para os botões */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.option:hover {
    background-color: #45a049;
}

#next-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #007bb5;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;  /* Texto do resultado em branco */
}
